*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1310px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    gap: 20px;

}

.navigation a{
    text-decoration:none;
    font-family: 'ubuntu', 'sans-serif';
    font-weight: 500;
    font-size: 24px;
    line-height: 27.58px;
    color: #957554;
}

/* Main Section */

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Photos/bigpicture.png);
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    margin-bottom: 80px;
}

.main-section h1 {
    font-family: 'ubuntu', 'sans-serif';
    font-weight: 700;
    font-size: 80px;
    line-height: 91.92px;
    color: #FFFFFF;
    margin-bottom: 43.07px;

}

.main-section p {
    font-family: 'ubuntu', 'sans-serif';
    font-weight: 500;
    font-size: 24px;
    line-height: 27.58px;
    color: #FFFFFF;
    margin-bottom: 53.83px;
}

.exploreb{
    background-color: #DFAA5B;
    padding: 25.24px 133.25px;
    color: #FFFFFF;
    font-family: 'ubuntu', 'sans-serif';
    font-size: 24px;
    line-height: 27.58px;
    border-radius: 20px;
    border: none;
}

/* Rooms & Rates */

.RR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rnr{
    display: flex;
    align-items: center;
    font-family: 'ubuntu', 'sans-serif';
    font-weight: 500;
    font-size: 45px;
    line-height: 51.71px;
    color: #957554;
    margin-bottom: 47px;
}

.toproom {
    display: flex;
    flex-direction: row;
    gap: 60px;
    max-width: 1320px;
    margin-bottom: 59px;
}


.bottomroom {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 55px;
    max-width: 1320px;
}

.room1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(Photos/room1.png);
    background-size: 100%;
    width: 630px;
    height: 500px;
}

.room2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(Photos/room2.png);
    background-size: 100%;
    width: 630px;
    height: 500px;
}

.room3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(Photos/room3.png);
    background-size: 100%;
    width: 630px;
    height: 500px;
}

.room4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(Photos/room4.png);
    background-size: 100%;
    width: 630px;
    height: 500px;
}

.room1 h3,
.room2 h3,
.room3 h3,
.room4 h3 {
    font-family: 'ubuntu', 'sans-serif';
    font-size: 40px;
    font-weight: 500;
    line-height: 45.96px;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.checkbutton {
    background-color: #DFAA5B;
    padding: 24px 52px;
    font-family: 'ubuntu', 'sans-serif';
    font-size: 24px;
    font-weight: 400;
    line-height: 27.58px;
    color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 57px;
    border: none;
}

/* Get a room */

.book{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.book h2{
    color: #957554;
    font-family: 'ubuntu', 'sans-serif';
    font-size: 45px;
    font-weight: 500;
    line-height: 51.71px;
    margin-bottom: 38px;
}

.booknowbutton {
    padding: 24px 157px;
    background-color: #DFAA5B;
    font-family: 'ubuntu', 'sans-serif';
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    margin-bottom: 122px;
}
