*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1310px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.navigation {
    display: flex;
    gap: 20px;

}

.navigation a{
    text-decoration:none;
    font-family: 'ubuntu', 'sans-serif';
    font-weight: 500;
    font-size: 24px;
    line-height: 27.58px;
    color: #957554;
}